.menuControl{
    display: flex;
    padding: 4rem 9rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    
 
 
}

@media (max-width: 768px) {
    .menuControl{
         display: flex;
         justify-content: center;
         padding: 3px;
       
     }
     
  }

  .contControl{
    width: 95%;
    padding-left: 7rem;
    padding-top: 1rem;
  }

  .colControl{
    margin-bottom: 2rem;
  }




 

